extends ../layout
block header
	nav.segmented-control
		a.control-item.active(href="#{getUrl('users.registration')}") Registration
		a.control-item(href="#{getUrl('users.login')}") Login
		a.control-item(href="/") Home
		a.control-item(href="#{getUrl('game.highscore')}") Highscore
block content
	.card
		#registration-message
		form(method="post", action="#{getUrl('users.registration')}", data-socket="true", rel="#registration-message", redirect="#{getUrl('users.login')}")
			input(type='text', placeholder='Username', name="user[username]")
			input(type='password', placeholder='Password', name="user[password]")
			input(type='password', placeholder='Confirm Password', name="user[confirmPassword]")
			button.btn.btn-positive.btn-block Sign Up
